.hidden {
  display: none !important;
  visibility: hidden; }

html,
body {
  height: 100%; }
  html.overflowhide,
  body.overflowhide {
    overflow: hidden; }

body {
  overflow-y: scroll;
  font-size: 1em;
  line-height: 1.5rem;
  padding: 0;
  margin: 0;
  color: #404040;
  font-family: 'AvenirLTStd', sans-serif;
  font-weight: 400; }

.section {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  flex-flow: row wrap; }

#app {
  width: 100%; }

a,
a:visited {
  text-decoration: underline;
  font-weight: normal; }
  a:hover, a:focus,
  a:visited:hover,
  a:visited:focus {
    text-decoration: none; }
