.hidden {
  display: none !important;
  visibility: hidden; }

html,
body {
  height: 100%; }
  html.overflowhide,
  body.overflowhide {
    overflow: hidden; }

body {
  overflow-y: scroll;
  font-size: 1em;
  line-height: 1.5rem;
  padding: 0;
  margin: 0;
  color: #404040;
  font-family: 'AvenirLTStd', sans-serif;
  font-weight: 400; }

.section {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  flex-flow: row wrap; }

#app {
  width: 100%; }

a,
a:visited {
  text-decoration: underline;
  font-weight: normal; }
  a:hover, a:focus,
  a:visited:hover,
  a:visited:focus {
    text-decoration: none; }

/*
 * Mobile layout
 */
.header {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  flex-flow: row nowrap;
  position: relative; }
  .header__inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-align-content: center;
    align-content: center;
    background: #2a2c48;
    width: 100%;
    height: 3.75rem;
    max-width: 71.25rem;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 1.25rem; }
  .header__logo__title {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #ffffff; }
  .header__control {
    display: block; }
  .header__menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: flex-end;
    -moz-align-content: flex-end;
    -ms-align-content: flex-end;
    align-content: flex-end;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2019;
    background: #ffffff;
    height: 100vh;
    overflow: hidden;
    display: none; }
    .header__menu.active {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; }
  .header__menu__list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 0.0625rem solid #c2c2c2;
    width: 18.75rem;
    padding: 0;
    margin: 0; }
    .header__menu__list.header__menu-control {
      min-height: 3.125rem; }
      .header__menu__list.header__menu-control li {
        display: block;
        text-align: right; }
      .header__menu__list.header__menu-control .icon-close {
        display: block;
        padding: 0.75rem; }
  .header__menu__item {
    list-style: none;
    border-bottom: 1px solid #f2f2f2; }
    .header__menu__item a {
      display: block;
      text-decoration: none;
      padding: 1rem 1.5rem;
      color: #404040; }
    .header__menu__item:hover a {
      color: #0CAA41; }
  .header__menu-mask {
    position: absolute;
    background: #000000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: .7;
    display: none; }

/*
 * Tablet layout
 */
@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #c2c2c2;
    padding: 0; }
    .header__inner {
      background: #ffffff;
      padding: 0;
      height: 3rem; }
    .header__control {
      display: none; }
    .header__logo__title {
      color: #2a2c48; }
    .header__menu {
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-content: center;
      -moz-align-content: center;
      -ms-align-content: center;
      align-content: center;
      background: none;
      position: relative;
      height: auto;
      display: block; }
    .header__menu__list {
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      border: none; }
      .header__menu__list.header__menu-control {
        display: none; }
    .header__menu__item {
      border: none; }
    .header__menu-mask {
      display: none; } }

/*
 * Desktop layout
 */
